<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
      </div>

      <!--Form container -->

      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />

          <label for="login" class="slide login">Login</label>
          <label routerLink="/signup" for="signup" class="slide signup"
            >Signup</label
          >
          <div class="slider-tab"></div>
        </div>

        <div class="form-inner">
          <form
            class="login"
            [formGroup]="loginFormGroup"
            (ngSubmit)="onSubmit()"
          >
            <div class="field">
              <input
                type="text"
                placeholder="Email Address"
                required
                formControlName="email"
                [class.is-invalid]="email.invalid && email.touched"
                [class.is-valid]="email.valid"
              />
            </div>
            <div *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors?.required" class="text-danger"
                >email is <b>required</b></small
              >
              <small *ngIf="email.errors?.pattern" class="text-danger">
                Please enter <b>valid email</b>
              </small>
            </div>
            <div class="field">
              <input
                type="password"
                placeholder="Password"
                required
                formControlName="password"
              />
            </div>
            <div *ngIf="password.invalid && password.touched">
              <small *ngIf="password.errors?.required" class="text-danger"
                >please enter your <b>password</b></small
              >
            </div>

            <div class="pass-link">
              <a href="#">Forgot password?</a>
            </div>
            <div class="field btn">
              <button class="btn" value="Signup" type="submit" >Login</button>
            </div>
            <div class="signup-link">
              Not a member? <a routerLink="/signup">Signup now</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = () => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      };
      loginBtn.onclick = () => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      };
      signupLink.onclick = () => {
        signupBtn.click();
        return false;
      };
    </script>
  </body>
</html>
